# Exclude specific folders
Background_Removal/pytorch-CycleGAN-and-pix2pix/checkpoints/*
Background_Removal/pytorch-CycleGAN-and-pix2pix/datasets/*
Background_Removal/pytorch-CycleGAN-and-pix2pix/plots/*
Background_Removal/pytorch-CycleGAN-and-pix2pix/results/*
Background_Removal/AttentionGAN/checkpoints/*

Data_Augmentation/pipeline_exp2/resources/background_images/*
Data_Augmentation/pipeline_exp2/resources/checkpoints/*
Data_Augmentation/pipeline_exp2/resources/font_families/*
Data_Augmentation/pipeline_exp2/gen_characters/generated_chars/*

Create_Character_Mask/models/*
Create_Character_Mask/exp2_masks/*
Create_Character_Mask/exp2_masks_increase_size/*
Create_Character_Mask/fonts/*
Create_Character_Mask/tools/FET-GAN/*
Create_Character_Mask/tools/TET-GAN/*
Create_Character_Mask/tools/synthtiger/*

Datasets/*
Text_Detection/*
Text_Recognition/*



# keep dir
!Background_Removal/pytorch-CycleGAN-and-pix2pix/checkpoints/
!Background_Removal/pytorch-CycleGAN-and-pix2pix/datasets/
!Background_Removal/pytorch-CycleGAN-and-pix2pix/plots/
!Background_Removal/pytorch-CycleGAN-and-pix2pix/results/

!Data_Augmentation/pipeline_exp2/resources/background_images/
!Data_Augmentation/pipeline_exp2/resources/checkpoints/
!Data_Augmentation/pipeline_exp2/resources/font_families/
!Data_Augmentation/pipeline_exp2/gen_characters/generated_chars/

!Create_Character_Mask/exp2_masks/
!Create_Character_Mask/exp2_masks_increase_size/
!Create_Character_Mask/fonts/
!Create_Character_Mask/tools/FET-GAN/
!Create_Character_Mask/tools/TET-GAN/
!Create_Character_Mask/tools/synthtiger/



# Exclude specific file types
checkpoints
Datasets
datasets
plots
results
fonts
background_images
font_families

.ipynb_checkpoints
__pycache__
*.log
*.tmp
*.png
*.jpg
